* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   height: 100vh;
   width: 100vw;
   background-color: #000000;
   position: relative;
}
canvas {
   width: 100%;
   height: 100%;
}
h1#typed-output {
   position: absolute;
   top: 30px;
   width: 90vw;
   text-align: center;
   font-size: 1.5rem;
   font-weight: 500;
   color: #fff;
   text-shadow: 0 0 10px #111, 0 0 30px #333;
   z-index: 10;
   pointer-events: none;
   font-family: "Poppins", sans-serif;
}
